/*
|--------------------------------------------------------------------------
| #THEME
|--------------------------------------------------------------------------
*/




// #SETUP
// =========================================================================

section {
    margin-top: $gutter * 3;
}

a {
    text-decoration: none;
}

h2 {
    text-transform: uppercase;
}

.title {
    position: absolute;
    top: 75px;
    transform: rotate(90deg);
    text-transform: uppercase;
    font-style: italic;

    @include breakpoint(md) {
        display: none;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 350px;
        height: 2px;
        background: color(display);
    }
}




// #HERO
// =========================================================================

.hero {
    background: color(black) url('http://res.cloudinary.com/darkroast-digital/image/upload/v1508341942/rough/new-hero.jpg');
    background-size: cover;
    color: color(white);
    overflow: hidden;
    padding: 0;

    &-content {
        width: 100%;
        height: 100%;
    }

    .container {
        height: 100%;
    }

    hr {
        background: color(white );
    }

    ul {
        display: flex;
        list-style-type: none;
        margin: $gutter 0;

        li {
            margin-right: .5rem;
        }
    }

    &-title {
        height: 250px;
        margin-top: $gutter;

        @media only screen and (min-width: 1441px) {
            height: 350px;
        }

        @include breakpoint(md) {
            height: 200px;
        }
    }

    &-image {
        height: 90%;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}




// #ABOUT
// =========================================================================

.about {
    position: relative;
    margin-top: 0;
    padding-top: $gutter * 3;
    overflow: hidden;

    img {
        object-position: right;
    }

    .gallery-container {
        padding-top: $gutter * 3;

        div {
            overflow:hidden;
            height:200px;
            position:relative;
            margin-top: $gutter * 1;
        }

        .column-12 {
            height:auto;
        }

        img {
            object-fit: cover;
            object-position: 50% 50%;
            max-width:145%;
            width:100%;
            height:100%;
            position:relative;

            &:hover {
                cursor:pointer;
            }
        }
    }
}



// #SCHEDULE
// =========================================================================

.schedule {
    background: url('http://res.cloudinary.com/darkroast-digital/image/upload/v1506453301/rough/schedule-bg.jpg');
    background-size: cover;
    background-position: -750px;
    padding: $gutter * 3 0;
    color: color(white);

    @media only screen and (min-width: 1441px) {
        background-position: right;

        .offset-2 {
            margin-left: 25%;
        }
    }

    h2, h4 {
        color: color(white);
        text-transform: uppercase;
        font-weight: normal;
    }

    h4 {
        font-weight: bold;
        margin-bottom: 0;
    }

    hr {
        background: color(white);
    }

    figure {
        text-transform: uppercase;
        text-align: center;
        position: relative;
        margin-bottom: $gutter;
        text-shadow: 0 3px 15px rgba(color(black), .9);

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 3px;
            width: 45px;
            background: color(primary);
        }
    }

    h6 {
        color: color(primary);
        margin-bottom: 0;
        line-height: 1;
    }
}

.classes {
    justify-content: space-around;
}




// #MEMBERSHIPS
// =========================================================================

.memberships {
    margin-top: 0;
    padding-top: $gutter * 3;
    overflow: hidden;
}

.slider {

    &-content {
        background: url('http://res.cloudinary.com/darkroast-digital/image/upload/v1506453302/rough/slider-bg.jpg');
        background-size: cover;
        background-position: center center;
    }
}




// #CONTACT
// =========================================================================

.contact {
    background: url('http://res.cloudinary.com/darkroast-digital/image/upload/v1506453302/rough/contact-bg.jpg');
    background-size: cover;
    color: color(white);
    padding: $gutter * 3 0;

    h2 {
        color: color(white);
    }

    hr {
        background: color(white);
    }

    ul {
        list-style-type: none;
    }

    li {
        display: flex;
        align-items: center;
    }

    svg {
        fill: color(primary);
        margin-right: .25rem;
    }

    input,
    textarea {
        color: color(white);

        &::placeholder {
            color: color(white);
        }
    }
}



// #FOOTER
// =========================================================================

.footer {
    background: color(black);
    color: color(white);

    .container {
        align-items: center;
    }

    p {
        margin-bottom: 0;
    }

    ul {
        list-style-type: none;
        display: flex;
        text-transform: uppercase;
        @include flex-position(left);

        @include breakpoint(md) {
            display: block;
        }
    }

    a {
        display: block;
        letter-spacing: .05rem;
        padding: $gutter * .5;
    }
}


//Lightbox
.lightbox-active {
    .lightbox {
        position:fixed; 
        top:0; 
        left:0; 
        width:100%; 
        height:100%; 
        background:rgba(0,0,0,.7); 
        text-align:center;
        overflow-y:scroll;
        display:flex;
        align-items:center;
        justify-content:center;

        z-index:1000000;
    }

    .lightbox img {
        box-shadow:0 0 25px #111;
        -webkit-box-shadow:0 0 25px #111;
        -moz-box-shadow:0 0 25px #111;
        max-width:940px; 
        max-height:700px;

        @media screen and (max-width:64em) {
            max-width:90%;
            height:auto;
        }

        @media screen and (max-width:32em) {
            margin-top:0;
            max-width:80%;
        }
    }

    .prev, .next {
        cursor: pointer;
        position: fixed;
        top: 50%;
        width: 40px;
        height:auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;

        @media screen and (max-width:32em) {
            width:20px;
        }
    }

    .next {
        right: 10%;
        border-radius: 3px 0 0 3px;

        @media screen and (max-width:32em) {
            right:0;
        }
    }

    .prev {
        left: 10%;
        border-radius: 3px 0 0 3px;

        @media screen and (max-width:32em) {
            left:0;
        }
    }

    .prev:hover, .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .image--cover {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}