/*
|--------------------------------------------------------------------------
| #CORE
|--------------------------------------------------------------------------
*/




// #BASE SIZES
// =========================================================================

$global-font-size: 16px;

$global-line-height: 1.5;




// #RHYTHM RATIO
// =========================================================================

$ms-ratio: 1.2;




// #RHYTHM
// =========================================================================

$global-rhythm: $global-font-size * $global-line-height;

$global-trail: $global-rhythm * 0.5;

$heading-trail: $global-rhythm * 0.5;

$paragraph-trail: $global-rhythm * 1;




// #GRID
// =========================================================================

$columns: 12;

$gutter: $global-font-size * $global-line-height;
