/*
|--------------------------------------------------------------------------
| #COLORS
|--------------------------------------------------------------------------
*/




// #BRAND
// =========================================================================

$primary: #FECB45;
$secondary: #FC131F;




// #UTILITY
// =========================================================================

$error: #F04F54;
$success: #43CB9D;
$warning: #FDB557;




// #SHADES
// =========================================================================

$white: #ffffff;
$black: #18161C;




// #GREYS
// =========================================================================

$grey: #B1AEB6;

$grey-light: #BEBCC2;
$grey-lighter: #D8D6DA;
$grey-lightest: #F2F1F2;

$grey-dark: #3E3C42;
$grey-darker: #323035;
$grey-darkest: #252428;
