/*
|--------------------------------------------------------------------------
| #DARK
|--------------------------------------------------------------------------
*/




// #SIDEBAR
// =========================================================================

@if ($has-sidebar) {

    .dashboard {
        position: relative;
        float: right;
        width: calc(100% - #{$sidebar-width});
        min-height: 100vh;
        padding: $gutter;
    }

}




// #DARK
// =========================================================================

@if ($is-dark) {

    body {
        background: color(black);
    }

}




// #OFF WHITE
// =========================================================================

@if not ($is-background-white) {

    body {
        background: color(grey-lightest);
    }

}
