/*
|--------------------------------------------------------------------------
| #BUTTONS CORE
|--------------------------------------------------------------------------
*/



.button-group {
    display: flex;
    float: right;

    @include breakpoint(md) {
        display: none;
    }

    button,
    .button,
    input[type="submit"],
    input[type="button"],
    input[type="reset"] {
        border-radius: 0;
        margin-right: .5rem;

        &:last-of-type {
            margin-right: 0;
        }

        @if ($has-radius) {
    
            &:first-of-type {
                border-top-left-radius: radius(small);
                border-bottom-left-radius: radius(small);
            }

            &:last-of-type {
                border-top-right-radius: radius(small);
                border-bottom-right-radius: radius(small);
            }

        }
    }
}
