/*
|--------------------------------------------------------------------------
| #BUTTONS CORE
|--------------------------------------------------------------------------
*/




@mixin button($background: color(primary), $border: $background, $color: color(white), $small: false, $large: false) {
    background: rgba(color(black), .8);
    border: 1px solid $border;
    color: $color;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    line-height: $global-line-height;
    margin-bottom: $global-trail;
    position: relative;
    text-transform: uppercase;
    color: color(primary);

    @if ($small) {
        padding: $gutter * .25 $gutter *.5;
    } @elseif($large) {
        padding: $gutter * .5 $gutter;
        font-size: ms(2);
    } @else {
        padding: $gutter * .15 $gutter;
    }

    @if ($has-radius) {
        border-radius: radius(small);
    }

    @if ($button-has-shadow) {
        @include shadow(raised);
    }

    cursor: pointer;
    outline: none;
    transition: all .2s ease(inOutSine);

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        background: color(primary);
        height: 5px;
        width: 30px;
        transform: translateX(-50%);
        transition: all .2s ease;
    }

    svg {
        fill: color(primary);
    }

    &:hover {
        color: color(white);

        svg {
            fill: color(white);
        }

        &:after {
            transform: translateX(-50%) scaleX(2);
        }
    }
}

button,
.button {
    @include button();

    &.is-small {
        @include button($small: true);
    }

    &.is-large {
        @include button($large: true);
    }
}

button.is-neutral,
.button.is-neutral {
    @include button($background: color(grey-lightest), $border: color(grey-lighter), $color: color(grey));
}

button.is-primary,
.button.is-primary {
    @include button($background: color(primary));
}

button.is-secondary,
.button.is-secondary {
    @include button($background: color(secondary));
}

button.is-outline,
.button.is-outline {
    @include button($background: transparent, $border: color(primary), $color: color(primary));

    @if ($button-has-shadow) {
        box-shadow: none;
    }

    &.is-neutral {
        border-color: color(grey-lighter);
        color: color(grey);

        &:hover {
            border-color: lighten(color(grey-lighter), 10%);
            color: lighten(color(grey), 10%);
        }
    }

    &.is-primary {
        border-color: color(primary);
        color: color(primary);

        &:hover {
            border-color: lighten(color(primary), 10%);
            color: lighten(color(primary), 10%);
        }
    }

    &.is-secondary {
        border-color: color(secondary);
        color: color(secondary);

        &:hover {
            border-color: lighten(color(secondary), 10%);
            color: lighten(color(secondary), 10%);
        }
    }
}

button[disabled] {
    background: color(grey-lighter);
    color: color(grey-light);
    border-color: color(grey-light);
    cursor: not-allowed;
}
