/*
|--------------------------------------------------------------------------
| #HEROES
|--------------------------------------------------------------------------
*/



.hero {
    display: flex;
    align-items: center;
    height: 85vh;
    width: 100%;
    background: color(primary);
    position: relative;
    padding: $gutter;

    &.is-full {
        min-height: 100vh;
    }

    &.is-centered {
        justify-content: center;
        text-align: center;
    }

    &.is-right {
        justify-content: flex-end;
        text-align: right;
    }

    h1, h2, h3, h4, h5, h6 {
        color: color(white);
    }
}
